langchain
langchain-chroma
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-tavily
langgraph
chromadb
python-dotenv
requests
pypdf
python-docx
openpyxl
prompt_toolkit
sentence-transformers
